<% @posts.each do |post| %>
    <div class="post">
      <h2><%= link_to post.title, post_path(post) %></h2>
      Kategoria: <%= link_to post.category.name, category_path(post.category) %><br />
      <%= link_to 'Show', post %>
      <p><%= post.content %></p>
    </div>
<% end %>